.card {
  border: 1px solid black;
  margin: 1rem auto;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-img-top {
  transition: transform 1s ease;
  border-radius: 5%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.img_player {
  max-width: 16rem;
}

.header__article {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.542) 0%,
      rgba(3, 3, 4, 0.439) 74%
    ),
    url("./img/fondo-fut.jpg");

  background-attachment: fixed;
  background-size: cover;

  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.home__section .card-img-top {
  min-height: 250px;
  height: 300px;
}

.home__section .card {
  min-width: 300px;
  border: none;
}

.home__section {
  background-color: ghostwhite;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
}

.team__page {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.542) 0%,
      rgba(3, 3, 4, 0.439) 74%
    ),
    url("./img/team-page-fondo.jpg");

  background-attachment: fixed;
  background-size: cover;
}

.team__name {
  color: #ffffff;
}

.player__page {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
  min-height: 100vh;
}

.info {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
}
